body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

form {
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

/* frame-divs */
#top-frame {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}

#left-frame {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    width: 30vw;
}

#right-frame {
    display: flex;
    flex-direction: column;
    min-width: 650px;
    width: 70vw;
    margin-left: 10px;
}

#bottom-frame {
    display: block;
}

/* content-divs */
#newUser {
    min-width: 350px;
}

#userData {
    min-width: 350px;
    margin-top: 10px;
}

#newHealth {
    margin-bottom: 10px;
}

#healthHistory {
    min-width: 650px;
}

/* newUser div*/
.back-button,
.tab-button {
    text-decoration: none;
    color: black;
    background-color: #ccc;
    border-radius: 20px;
    padding: 10px;
    font-size: xx-large;
    margin-right: 10px;
}

.back-button:hover,
.tab-button:hover {
    background-color: #9c9c9c;
}

.form-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.form-content label {
    flex: 0 0 100px;
    margin-right: 5px;
    text-align: left;
}

.form-content input,
.form-content select {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
}

input[type="submit"] {
    margin-top: 2rem;
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* modify user div*/
#userDel-button {
    background-color: rgb(255, 96, 96);
    border: 0;
    border-radius: 5px;
    margin-left: 10px;
    padding: 8px;
    color: white;
}
