body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 0;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
/* divs */
#newUser {
    position: relative;
}

/* newUser div*/
.back-button,
.tab-button {
    text-decoration: none;
    color: black;
    background-color: #ccc;
    border-radius: 20px;
    padding: 10px;
    font-size: xx-large;
    margin-right: 10px;
}

.back-button:hover,
.tab-button:hover {
    background-color: #9c9c9c;
}

.userform {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.userform label {
    flex: 0 0 120px;
    margin-right: 10px;
    text-align: left;
}

.userform input,
.userform select {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
}

input[type="submit"] {
    margin-top: 2rem;
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
